.email, .password, .fields {
	border: none;
	outline: none;
	background: none;
	color: #555;

	box-shadow: inset 4px 4px 4px #cbced1,
				inset -4px -4px 4px #ffffff;
}

#card{
	border-radius: 25px;
	border: none;
}

#cardleft{
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border: 1px;
}

#cardright{
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	border: 1px;
}